@font-face {
    font-family: 'SukhumvitMedium';
    src: url('src\app\login\SukhumvitSet-Medium.ttf') format('ttf');
  }
@font-face {
    font-family: 'SukhumvitLight';
    src: url('src\app\login\SukhumvitSet-Light.ttf') format('ttf');
  }
  .normalThaiFont {
    font-family: 'SukhumvitMedium', sans-serif;
    font-weight: 700;
  }
  .lightThaiFont {
    font-family: 'SukhumvitLight', sans-serif;
    font-weight: 700;
  }